<main class="p-5">

    <div class="card p-5">
        <p id="test">
            Hello word!Hello word!Hello word!Hello word!Hello word!Hello word!
        </p>
        <p id="test">
            Hello word!
        </p>
        <p hidden id="test">
            Hello word!
        </p>
        <span class="test">Test</span>
        <pre>ogo</pre>
    </div>

    <div>Block</div>
    <div>Block</div>

    <span class="block">InlineBlock</span>
    <span>Inline</span>
    <span>Inline</span>
</main>