@import '/css/var.css';

@font-face {
    font-family: "Segment";
    src: url('/font/Segment-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: "Segment";
    src: url('/font/Segment-SemiBold.otf');
    font-weight: 600;
}

@layer normalize, main, component, style;


@keyframes fly {
    from {
        top: 0;
        left: 0;
        background: red;
    }
    
    25% {
        top: 500px;
        left: 500px;
        background: blue;
        width: 100px;
    }
    
    50% {
        left: 0;
        background: green;
        width: 0px;
    }
    to {
        top: 0;
        left: 0;
        background: yellow;
    }
}



/*==========================*/

.page {
    background: var(--color-white);
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page-content { 
    max-width: var(--page-width);
    width: 100%;
    /* margin: 0 auto; */
    /* background: gray; */
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* padding-top: 74px; */
    
}

/*==========================*/


.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-b);
    display: flex; 
    justify-content: space-between;
    
    /* position: fixed; */
    position: sticky;
    width: var(--page-width);
    /* top: 0; */
    /* left: calc(50% - (var(--page-width) / 2)); */
    background-color: var(--color-white);
    z-index: 1;
}

.logo {
    font-size: 17px; 
    color: var(--color-white);
    background: var(--color-primary);
    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav {
    display: flex;
}

.nav_inline {
    gap: var(--space-l);
}
.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none;
    line-height: 100%;
    transition-property: color;
    transition-duration: 2s;
}

.nav_link:hover{
    text-decoration: underline;
    color: var(--color-primary);
}

.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-b);
    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);
    
    display: flex;
    margin-top: var(--space-l);
}

.footer_title {
    font-size: var(--size-l);
    color: var(--color-title);
    
    display: block;
    margin-bottom: var(--space-l);
    font-weight: var(--weight-title); 
}

.hero {
    display: flex;
    align-items: center;
    gap: var(--space-b);
    padding: var(--space-b);
     border-bottom: 1px solid var(--color-b);
    }
    
    .hero-image {
        width: 500px;
        border-radius: var(--border-radius);
    }
    
    .hero-content {
        display: flex;
        flex-direction: column;
        gap: var(--size-l);
    }
    
    .hero-title {
        font-size: 50px;
        color: var(--color-title);
        font-weight: 500;
        line-height: 120%;
        font-weight: var(--weight-title); 
    }
    
    .hero-text {
        font-size: var(--size-l);
        color: var(--color-text);
        font-weight: var(weight-text);
        line-height: 170%;
    }
    
    .blog {
        display: flex;
        gap: var(--space-b);
        padding: var(--space-b);
        border-bottom: 1px solid var(--color-b);
    }
    
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: var(--space-l);
        padding: var(--space-b);
        border-bottom: 1px solid var(--color-b);
    }
    
    .card-image {
        height: 140px;
        width: 140px;
        border-radius: 50%;
}

.card-title {
    font-size: 32px;
    font-weight: var(--weight-title); 
    color: var(--color-title);
}

.card-text {
    font-weight: var(weight-text);
    font-size: var(--size-d);
    color: var(--color-text);
}

@layer main {
    .button {
        display: inline-block;
        font-size: var(--size-d);
        color: var(--color-white);
        padding: var(--space-m) var(--space-xm);
        border-radius: var(--border-radius);
        text-align: center;
        /* transition: opacity 2s, background-color 2s;  АБО */
        transition-property: opacity, background-color;
        transition-duration: 2s;
    }
    
    .button:hover {
        opacity: 0.7;
        background-color: rgb(2, 206, 6);
        color: red;
    }
} 

@layer component {
    .card-button {
        text-decoration: none;
        background: var(--color-primary);
    }
}


.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary);
    padding: var(--space-l);
    border-radius: var(--border-radius);
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.form-title {
    font-size: 27px;
    font-weight: var(--weight-title);
    color: var(--color-white);
}

.form-info {
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    color: var(--color-white);
}

.form-button {
    background: var(--color-white);
    width: 100%;
    max-width: 160px;
    color: var(--color-text);
}

/* .hero-image {
    position: relative;
    position: absolute;
    left: -10px;
    right: 10px;
    top: 10px;
}

.hero {
    position: relative;
}  */

.hero-slider-icon {
    background: var(--color-primary);
    width: 30px;
    height: 30px;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    color: var(--color-white);
    position: absolute;
    /* position: fixed; */
    top: calc(50% - 15px);
}

.hero-slider-icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.hero-slider {
    position: relative;
    /* z-index: 2; */
}

.hero-slider-left {
    left: var(--space-l);
}

.hero-slider-right {
    right: var(--space-l);
}

.modal {
    position: fixed;
    /* position: sticky; */
    /* bottom: 24px; */
    top: 200px;
    /* top: calc(50% - 100px); */
    /* left: calc(50% - 100px); */
    /* right: 24px; */
    left: 200px;
    /* height: 100px; */
    width: 600px;
    background: black;
    color: white;
    padding: 24px;
    border-radius: 24px;
    line-height: 150%;
    z-index: 2;
    
    /* transition-property: top;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 3s; */
}   

body:hover .modal {
    /* top: 600px; */
    animation-name: fly;
    animation-duration: 2s;
    /* animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1); */
    animation-delay: 3s;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
    animation-direction: alternate;
    animation-play-state: paused;
    /* animation-fill-mode: forwards; */
    animation-fill-mode: both;
}

.modal-image {
    height: 100px;
    width: 200px;
    float: left;
    /* float: right; */
    /* float: none; */
    margin-right: 12px;
    margin-top: 12px;
    /* object-fit: contain; */
    /* object-fit: cover; */
    /* object-fit: fill; */
    object-fit: scale-down;
    background-color: #fff;
    /* object-position: top right; */
    object-position: bottom left;
}

.modal-text {
    /* clear: left; */
    /* clear: right; */
    clear: both;
}

.hero {
    user-select: none;
}

.input {
    caret-color: var(--color-primary);
    border: 1px solid var(--color-title);
}

:root {
    scroll-behavior: smooth;
}

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* @media all and (min-width: 0px) and (max-width: 600px) { */
    @media all and (width <= 600px) {  /* !!! Не роб !!! */
        .blog {
            grid-template-columns: 1fr;
        }
    }
    
    /* @media not all and (min-width: 601px) and (max-width: 800px) { */
        /* @media all and (min-width: 601px) and (max-width: 800px), all and (min-width: 1000px) { */
            /* @media all and (min-width: 601px) and (max-width: 800px) { */
                @media all and (600px < width <= 800px) {
                    .blog {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
                
                /* @media all and (not (min-width: 800px)) {  !!! Не роб !!!
                    .page-content {
                        background: red;
    }
} */

.form {
    gap: var(--space-l);
}

@media all and (width <= 560px) {
    .form {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .form-info {
        min-width: 300px;
        width: 100%;
    }
    
    .form-content {
        align-items: center;
        text-align: center;
    }
}

.hero-container {
    container-type: inline-size;
    /* min-height: 500px; */
    container-name: hero;
    min-height: max-content;
} 

/* .page-content {
    display: grid;
    grid-template-rows: repeat(3, 300px);
} */

@container hero (width < 960px) {
    .hero {
        flex-direction: column;
    }
}

@layer style {
.card-button {
    background: red;
    }
}

@layer main {
    .card-button {
        background: yellow;
    }
}
.ex {
    display: inline-block;
    font-size: 2em;
    margin-left: 1ex;
}

/* .test {
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    height: 100vmin;
    width: 100vmin;
} */

.hero-title {
    font-size: 1cqw;
}